.auth-form {
  input {
    margin-left: 0px;
    display: block;
    width: 100%;
  }

  button {
    margin: 0.5rem 0 1rem 0;
    width: 100%;
  }

  button.mt-2 {
    margin-top: 1rem !important;
  }

  button.mt-4 {
    margin-top: 2rem !important;
  }

  label {
    margin-top: 1rem;
  }

  p {
    text-align: center;
    color: #4C4C4C;
  }

  p.align-left {
    margin-top: 0.5rem;
    text-align: left;
  }
}